certifi==2020.6.20
chardet==3.0.4
DAWG-Python==0.7.2
docopt==0.6.2
idna==2.10
joblib==0.16.0
navec==0.9.0
numpy==1.19.0
pandas==1.0.5
pyaspeller==0.1.0
pymorphy2==0.8
pymorphy2-dicts==2.4.393442.3710985
python-dateutil==2.8.1
pytz==2020.1
razdel==0.5.0
requests==2.24.0
scikit-learn==0.23.1
scipy==1.5.1
six==1.15.0
threadpoolctl==2.1.0
urllib3==1.25.9
